.square {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid black;
  cursor: pointer;
  outline: none;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  background-color: rgb(197, 191, 191);
  transition: 1s all ease;
}
